/* add font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');


body {
  /* invert colors */
  background-color: #232323;
  color: #FFF;

}


/* restyle heading */
.algo-title{
  font-size: 1.8em !important;
  margin: 10px;
  font-weight: 700;
  letter-spacing: 2px;
}


canvas {
  /* make canvas responsive */
  width: 100% !important;
  height: 100% !important;

  /* add border */
  border: 1px solid lightgray;
}


h5 {
  margin: auto;
  padding: 0;

  margin: 5px;

  /* resyle subheading */
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
}

#app-root {
    font-family: Roboto, sans-serif;
    font-size: 2rem;
}

.algo-title {
    font-size: 4rem;
}

.app-content {
  max-width: 1024px;

  /* set main responsive width */
  width: 95%;
  height: 95%;

}

.github {
    text-align: center;
}

.section {
    margin: 8px auto;
    padding: 8px;

    /* remove border */
    /* border: 1px dashed lightgray; */
    border-radius: 4px;
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-content-controller {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.slider {
    width: 100%;
}

.inputs-wrapper {
    text-align: center;
}
